  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Check out my source code</h2>
              <hr class="light">
              <p>See how I did it. Feel free to fork a copy for yourself to try your hand at making a DiscordPHP bot.</p>
              <a href="https://gitlab.com/benharri/benbot" class="btn btn-default btn-xl"><i class="fa fa-gitlab"></i> Source Code on GitLab.com</a>
          </div>
      </div>
  </aside>
