<section class="bg-primary" id="addme">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Add me to your server!</h2>
                <hr class="light">
                <p class="text-faded">Click here and sign in with your Discord account to add BenBot to your server! Games and text-transform functions will work best with the manage messages permission enabled.</p>
                <a href="https://discordapp.com/oauth2/authorize?client_id=288416337057939456&scope=bot&permissions=36826176" class="btn btn-default btn-xl wow tada"><i class="fa fa-plus"></i> Authorize</a>
            </div>
        </div>
    </div>
</section>
