  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>BenBot is mostly dead</h2>
              <hr class="light">
              <p>The <a href="https://github.com/teamreflex/DiscordPHP">DiscordPHP framework</a> is dead and no longer up to date with the Discord back end. </p>

              <p>I'm currently rewriting BenBot in C# (the current goal is feature parity with the origin PHP version)</p>
              <a href="https://github.com/tilde-team/dotbot" class="btn btn-default btn-xl"><i class="fa fa-github"></i> Check out the rewrite here</a>
          </div>
      </div>
  </aside>
